/**
 * Estilos personales
 */
html, body {
    height: 96%;
    /* The html and body elements cannot have any padding or margin. */
}
.margin-bottom-1em{
	margin-bottom: 1em;
}
.margin-bottom-2em {
	margin-bottom: 2em;
}
.margin-bottom-3em {
	margin-bottom: 3em;
}
.margin-bottom-4em {
	margin-bottom: 4em;
}
.page-header{
	padding-bottom: 0 !important;
	margin: 3px 0 10px !important;
	border-bottom: 1px solid #d7d2d2 !important;
}

/* --- Propiedades usadas para el Sticky Footer (Footer siempre abajo) ---- */
	#wrap > .container {
		padding-top: 0px;
		margin-bottom: 4em !important;
	}

	.credit {
		margin: 20px 0;
	}

	/* Wrapper for page content to push down footer */
	#wrap {
		min-height: 100%;
		height: auto !important;
		height: 100%;
		/* Negative indent footer by it's height */
		margin: 0 auto -60px;
	}

	/* Set the fixed height of the footer here */
	#push,
	#footer {
		height: 60px;
	}
	#footer {
		background-color: #f5f5f5;
	}

	
/* Cierre --- Propiedades usadas para el Sticky Footer (Footer siempre abajo) ---- */

